<nav aria-label="breadcrumb mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="Page">Home</li>
    </ol>
</nav>

<div class="container pt-1">
    <ul>
        <li><a href="/admin/posts">Blog Posts</a></li>
        <li><a href="/admin/todos">Todos</a></li>
    </ul>
</div>

<hr />
<a href="/admin/logout" class="btn btn-sm btn-light">Logout</a>