<div class="header-ctr {{sectionHdr}}">
    <div class="header">
        <div class="nav-header"><a class="nav-link" href="/">Austin's Notes</a></div>
        <div class="nav">
            <div class="nav-item"><a class="nav-link" href="/about-me">About Me</a></div>
            <div class="nav-item"><a class="nav-link" href="/bucket-list">Bucket List</a></div>
            <div class="nav-item"><a class="nav-link" href="/gallery">Photos</a></div>
        </div>
    </div>
    <div id="openButton" class="open-button">
        <div></div>
    </div>
    <div class="header-mobile">
        <a id="homeLink" href="/">Austin's Notes</a>
    </div>
</div>
<div class="content">
    <div class="content-body">
        <h1 class="content-title">About Me</h1>
        <hr />
        <img class="profile-pic" src="img/profile-pic.jpg" />
        <p>
            Hello, and welcome to my travel blog site! My name's Austin, and I am a junior computer
            science major at UNC-Chapel Hill. For three weeks, I will be located in the beautiful city
            of Copenhagen
            as part of a study abroad program.
        </p>
        <p>
            To give some insight about my background at UNC, I've worked as a Learning Assistant for COMP 401
            as well as a Research Assistant for enabling technologies. I am involved in a
            few clubs at UNC, including DevApp and Buckley Public Service Scholars.
            The one that I cherish the most is the Enabling Technology Club where I serve as the Vice
            President and Treasurer. Our goal is to promote the creation and use of technology for individuals
            with disabilities.
        </p>
        <p>
            This summer, I will be working as a JMP Technical Intern at SAS to update scripts for the
            documentation team's software. I'm excited to start this position as soon as I return
            to Chapel Hill from Copenhagen.
        </p>
        <p>
            With prior web dev experience, I can't wait to learn more about the interactive components of a
            website
            that are not visible to users. Some of my previous projects include the following sites:
            <ul class="about-list">
                <li>&bull; <a target='_blank' href="https://austinbhale.com">austinbhale.com</a></li>
                <li>&bull; <a target='_blank' href="https://sydneybhale.com">sydneybhale.com</a></li>
                <li>&bull; <a target='_blank'
                        href="http://edwardtrentzsch.github.io">edwardtrentzsch.github.io</a></li>
                <li>&bull; <a target='_blank' href="https://hacknc.com">hacknc.com</a> (navigation)</li>
            </ul>
        </p>

        <p>
            Although I have never traveled outside of the country, I am confident that Copenhagen will
            be an amazing trip. By learning more about Scandinavian culture and web development,
            I plan to take these experiences and apply them to everyday life back home.
        </p>
    </div>
</div>