<div class="content">
    <h1 class="content-title">My Copenhagen Bucket List</h1>
    <hr />
    <div class="content-body">
        <ol id="todoList" class="todo-list">
            <li>Ride the "Vertigo", along with the other <a target='_blank'
                    href="http://jessikatrips.com/tivoli-gardens-top-5-scariest-rides/">top scariest
                    rides</a> at Tivoli Gardens. &#10003;</li>
            <li>Admire the strangeness and beauty of <a target='_blank'
                    href="https://theculturetrip.com/europe/denmark/articles/christiania-13-things-to-know-about-copenhagens-hippie-free-town/">Freetown
                    Christiana</a>. &#10003;</li>
            <li>Find all the <a target='_blank'
                    href="https://thomasdambo.com/works/forgotten-giants/giants">giants</a>, because how
                often do you get to say you're hunting giants?</li>
            <li>Finally see live electronic music at both <a target='_blank'
                    href="https://www.cphdistortion.dk/">Copenhagen Distortion</a> and a Slow Magic concert! &#10003;
            </li>
            <li>Play sports with locals at a nearby park downtown or join a local gym. &#10003;</li>
            <li>Dive into Nordic cuisine, especially their infamous <a target='_blank'
                    href="https://en.wikipedia.org/wiki/Sm%C3%B8rrebr%C3%B8d">Smørrebrøds</a>. &#10003;
            </li>
            <li>Learn how to create dynamic and responsive websites, since static is lame. &#10003;</li>
            <li>Ride a bike or run around in the city. &#10003;</li>
            <li>Jump off a diving tower at one of the harbor pools.</li>
            <li>See some <em><span class="enlarge-text">huge</span></em> <a target='_blank'
                    href="https://shershegoes.com/copenhagen-castle/">castles</a>. &#10003;</li>
        </ol>
    </div>
</div>