<div class="section content">
    <h1 class="content-title">Study Abroad in Copenhagen</h1>
    <hr />
    {{#each posts}}
        <div class="blog-post" id={{id}}>
            <h2 class="blog-title">{{title}}</h2>
            <p class="content-date"><em>{{publishAt}}</em></p>
            <div class="content-body">
                <p>{{{body}}}</p>
            </div>
        </div>
    {{/each}}
</div>