/* Overrides the default styles with a global CSS reset. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile-First Development with generic CSS styling first. */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

body {
    -webkit-animation: bg 60s infinite;
    animation: bg 60s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 85%;
    margin: 0 7.5%;
    background: rgb(228, 228, 228);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    overflow: hidden;
}

.header-ctr {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1280px;
    background-attachment: inherit;
    height: 350px;
    color: rgb(228, 228, 228);
    background-image: url('../images/cph-bg.jpg');
    border-bottom: 6px solid black;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.nav-header {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: flex-end;
}

.nav-item {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.3em 1em;
    color: rgba(228, 228, 228);
    font-weight: lighter;
}

.nav-link:hover {
    background-color: #2B967F;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 25px;
}

.content-title {
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.blog-post {
    margin-bottom: 25px;
}

.content>div:last-child {
    margin-bottom: 0px;
}

.blog-title {
    margin-bottom: 15px;
}

.content-date {
    margin-bottom: 20px;
}

.content-body p {
    margin-bottom: 25px;
    line-height: 1.5em;
}

.content-body a {
    color: #075895;
}

.content-body a:hover {
    color: #F77206;
}

.content-body p:last-of-type {
    margin-bottom: 0;
}

.footer {
    clear: both;
    display: block;
    background-color: #424242;
    color: rgba(228, 228, 228);
    padding: 10px 35px;
}

.footer-copyright {
    text-align: center;
}

.todo-list,
.about-list {
    list-style: none;
}

.about-list li {
    line-height: 1.4em;
}

.todo-list li {
    counter-increment: todo_list;
    margin-bottom: 1em;
    line-height: 1.4em;
}

.todo-list li:last-of-type {
    margin-bottom: 0;
}

/* Adds effects to the to-do list's numbers. */
.todo-list li::before {
    content: counter(todo_list);
    background: #2B967F;
    font-size: 1.2em;
    text-shadow: 1px 1px gray;
    color: #EBDBCA;
    text-align: center;
    margin-right: 7px;
    font-style: italic;
    padding: 0.15em 0.5em;
    border-radius: 30%;
}

hr {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid black;
    margin-bottom: 25px;
}

/* Holds the about me profile picture to the left. */
.profile-pic {
    float: left;
    width: 100%;
    border-radius: 100%;
    padding: 0px 25px 15px 25px;
}

.enlarge-text {
    font-size: 1.15em;
}

/* Transitions through the color scheme of Copenhagen houses. */
@keyframes bg {
    0% {
        background-color: #EBDBCA
    }

    20% {
        background-color: #F77206
    }

    40% {
        background-color: #075895
    }

    60% {
        background-color: #FBF87E;
    }

    80% {
        background-color: #2B967F
    }

    100% {
        background-color: #FEDE0E;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .header-ctr {
        height: 500px;
    }

    .profile-pic {
        width: 250px;
    }

    .nav-link {
        padding: 0.8em 1em;
    }

    .content {
        padding: 40px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .header-ctr {
        height: 500px;
        background-attachment: fixed;
        background-size: cover;
    }

    .header {
        width: 960px;
    }

    /* Give the page a fixed width and center for the desktop layout. */
    .page {
        width: 960px;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .nav-link {
        padding: 0.5em 1em;
    }

    .content {
        padding: 45px;
    }

    .profile-pic {
        width: 250px;
    }
}