/* Override the default styles with a reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    -webkit-animation: bg 60s infinite;
    animation: bg 60s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.container {
    width: 85%;
    margin: 0 7.5%;
    background: lightgrey;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

.header-ctr {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: whitesmoke;
    background-image: url('../images/cph-bg.jpg');
    border-bottom: 6px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5em 2em 10em 2em;
}

.nav {
    display: flex;
    align-items: flex-end;
}

.nav-item {
    list-style: none;
}

.nav-link,
.nav-header {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: black;
    text-align: center;
    padding: 6px 8px;
    margin-right: 1em;
    border-radius: 5%;
}

.nav-link {
    display: block;
    position: relative;
}

.nav-header {
    font-weight: lighter;
}

.nav-link:hover,
.nav-header:hover {
    background-color: #2B967F;
}

.content {
    padding: 50px;
}

.content-title {
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1.5px;
}

.blog-title {
    margin-bottom: 15px;
}

.content-date {
    margin-bottom: 20px;
}

.content-body p {
    margin-bottom: 25px;
}

.content-body a {
    color: #075895;
}

.content-body a:hover {
    color: #F77206;
}

.content-body p:last-of-type {
    margin-bottom: 0;
}

.footer {
    display: block;
    background-color: #424242;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 35px;
}

.footer-copyright {
    text-align: center;
}

.todo-list {
    list-style: none;
}

.todo-list li {
    counter-increment: todo_list;
    margin-bottom: 3%;
}

.todo-list li:last-of-type {
    margin-bottom: 0;
}

.todo-list li::before {
    content: counter(todo_list);
    background: #2B967F;
    font-size: 1.2em;
    text-shadow: 1px 1px gray;
    color: #EBDBCA;
    text-align: center;
    margin-right: 7px;
    font-style: italic;
    padding: 0.15em 0.5em;
    border-radius: 30%;
}

hr {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid black;
    margin-bottom: 25px;
}

.profile-pic {
    float: left;
    position: relative;
    width: 200px;
    border-radius: 100%;
    padding: 15px 15px 15px 15px;
}

/* Removes the parallax effect for mobile devices. */
@media only screen and (max-width: 749px) {
    .header-ctr {
        background-size: 1280px;
        background-attachment: inherit;
    }
}

/* Made with the color scheme of Copenhagen */
@keyframes bg {
    0% {
        background-color: #EBDBCA
    }

    20% {
        background-color: #F77206
    }

    40% {
        background-color: #075895
    }

    60% {
        background-color: #FBF87E;
    }

    80% {
        background-color: #2B967F
    }

    100% {
        background-color: #FEDE0E;
    }
}